<!DOCTYPE html>
<html lang="en">
    <head>
        <title>UD Checkr</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='stylesheets/style.css') }}" />
    </head>
    <body>

        <div class="centered">
            
            <h1 class="main_title">UD Checkr</h1>

            <div id="user_input">
                <h2 class="section_title">Text Check</h2>
                <p>Your input text has been probed for dangerous phrasings. They
                    have been printed below for your humble consideration and
                    excision. Be careful.</p>

                <h2 class="section_title">Input:</h2>
                <p>{{ input_text }}</p>
            </div>

            <div id="ud_output">
                <h2 class="section_title">Watch Out For:</h2>

                {% for word in word_defs %}
                
                <p class="word_def"><b>{{ word }}</b>: {{ word_defs[word] }}</p>

                {% endfor %}
            </div>
            <footer>
                <br /><br /><br />
                <p>Website and content by <a href="mailto:srbutler@gmail.com">Steven Butler</a>
                    and <a href="mailto:lovering810@gmail.com">Rebecca Lovering</a>.<br />
                    Built with contempt using Flask and Python.<br />
                    This site is in no way affiliated with or endoresed by
                    <a href="https://www.urbandictionary.com">Urban Dictionary</a></p>
            </footer>
        </div>
    </body>
</html>
